@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #16d9e3;
}

.start {
  font-size: 1.5rem;
}

h1 {
  line-height: 1.4;
  font-size: 2rem;
}
h3 {
  line-height: 1.4;
  font-size: 1.7rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;

  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn,
.retry-btn {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  transition-property: color, border;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  /* transition: opacity 1s easy; */
}

.time-btn:hover,
.retry-btn:hover {
  border: 2px solid #16d9e3;
  color: #16d9e3;
}
.retry-btn {
  position: relative;
  bottom: 20px;
  transition-property: opacity, color, border;
  transition-duration: 1s, 0.5s, 0.5s;
  transition-timing-function: ease-in;
}

.hide {
  opacity: 0;
}
.hideTime {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.primary {
  color: #16d9e3;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 100px;
  min-height: 100px;
  width: 400px;
  height: 400px;

  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  box-shadow: 0 0 20px #16d9e3;
  border: #16d9e3 solid 1px;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 30px;
}

.circle {
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}
